
  <table>
        <tr>
          <td>Product ID</td>
          <td>Product Name</td>
          <td>Product Price</td>
          <td>Product Quantity</td>
          <td>Product Start Date</td>
          <td>Product End Date</td>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.startDate}}</td>
            <td>{{product.endDate}}</td>
        </tr>
  </table>
